* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  margin: 50px;
}

.pictureNavMain {
  width: 100%;
}

#contactsMain {
  text-align: center;
  width: 70%;
  margin: auto auto;
  margin-top: 5vh;
}

#contactCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.contact {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 5px lightgray;
  background-color: --color-text-soft;
  border-width: 0px 0px 10px 0px;
  border-color: var(--color-bg-dark);
  border-style: solid;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}

.imageMap {
  width: 100%;
}

.department {
  font-weight: bold;
}

.button {
  width: 100%;
  margin-top: 30px;
}

.button:hover {
  background-color: rgba(214, 199, 67, 0.5);
}

.responsible {
  font-style: italic;
}

.departmentmini,
.responsiblemini,
.openingmini,
.citymini {
  font-size: 8pt;
  font-style: italic;
  color: grey;
}

.telefonista {
  width: 250px;
  border-radius: 150px;
}

#extra {
  text-align: center;
  margin-bottom: 50px;
}

#redes {
  text-align: center;
  margin-bottom: 50px;
}

#redesContact {
  margin: auto auto;
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.redesIcons {
  width: 50px;
}

.remarksText {
  font-size: 12pt;
  font-style: italic;
  font-weight: bold;
  border-bottom: dashed 1px grey;
  width: 350px;
  margin: auto auto;
}
