#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.image {
    width: 300px;
    padding: 20px;
    box-shadow: 10px 10px 5px lightblue;
    background-color: lightcyan;
    border: solid 1px rgba(93, 72, 209, 0.5);
}